body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

.navbar {
  background-color: white;
}

.nav-link{
  margin-left: 40px;
}

.nav-link:hover {
  color: #3FA2F6;
}

/* Footer */
.foot-link {
  text-decoration: none;
}

.foot-icons {
  margin-right: 15px;
  font-size: 20px;
}

.foot-icons :hover {
  color: #3FA2F6;
}
